*{
    font-family: 'Antonio', sans-serif;
}
.sfondo{
    background-color: lightskyblue;
    background-image: url("../html-css-booleaner/img/pattern.png");
    background-size: contain;
    height: 150px;
}
.sfondo > img{
    max-width: 200px;
    margin-top: 70px;
    margin-left: 50px;
}
h1{
    font-size: 50px;
}
.autore{
    color: lightslategray;
}
.descr{
    margin-top: 1px;
    font-size: 13px;
}
ul{
    padding: 15px;
}
.table{
    width: 1500px;
    font-size: 15px;
}
.title-row{
    background-color: #6495ED;
    width: 500px;
    display: inline-block;
    float: left;
    color: white;
}
.testo{
    background-color:lightblue;
    width: 500px;
    height: 70px;
    display: inline-block;
    float: left;
    line-height: 70px;
}
.testogrande{
    background-color: lightblue;
    width: 500px;
    display: inline-block;
    float: left;
    height: 70px;
}
.testobianco{
    background-color: white;
    width: 500px;
    height: 70px;
    display: inline-block;
    float: left;
    line-height: 70px;
}
.testograndebianco{
    background-color: white;
    width: 500px;
    display: inline-block;
    float: left;
    height: 70px;
}
.paragrafo{
    margin-top: 280px;
}
.titolofooter{
    color: lightslategray;
}
.sottolineato{
    background-color: yellow;
}
.scritta{
    color: white;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
}
.monitor{
    background-image: url("../html-css-booleaner/img/monitor.jpg");
    background-size: contain;
    height: 250px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    position: relative;
}
.graph{
    background-image: url("../html-css-booleaner/img/graph.jpg");
    background-size: contain;
    height: 250px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    position: relative;
}

